.kpi-box {
  background-color: #3498db;
  color: #fff;
  padding: 20px;

  margin: 10px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}

.kpi-box h3 {
  margin: 0;
  font-size: 24px;
}

.kpi-box p {
  font-size: 36px;
  margin: 10px 0 0;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .kpi-box {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .kpi-box h3 {
    font-size: 20px;
  }

  .kpi-box p {
    font-size: 28px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .kpi-box {
    width: 45%;
    margin: 10px;
    padding: 15px;
  }

  .kpi-box h3 {
    font-size: 22px;
  }

  .kpi-box p {
    font-size: 32px;
  }
}
